@media only screen and (max-width: 600px) {
    .MobHeader {
      width: 100%;
    }
    
    .logo {
      width: 100%;
      margin-left: 150px;
    }
    
    .email {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    .email i {
      margin-right: 10px;
    }
    
    .numberheader {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    .mobDropDown {
      width: 100%;
      margin: 10px 5px;
    }
    
    .dropbtn {
      background-color: #0b1f71;
      color: rgb(255, 255, 255);
      width: 89px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown {
      width: 100%;
      background-color: #0b1f71;
      padding: 0 20px;
      margin: auto;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #890d0d;
      min-width: 160px;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      width: 309px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      color: #ffffff;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:focus-within .dropdown-content {
      display: block;
    }
    
  }
  